<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="element">
      <div class="frame"><img class="logo-new" src="img/logo-new-1.png" /></div>
      <div class="group">
        <div class="div">
          <img class="rectangle" src="img/rectangle-1.svg" />
          <p class="text-wrapper">Thank You For Contacting Us!</p>
          <img class="open-peeps-bust" src="img/open-peeps-bust-12-1.png" />
        </div>
      </div>
      <div class="hi-name-we-ve-wrapper">
        <p class="hi-name-we-ve">
          <span class="span"
            >Hi {"{"}{"{"}name{"}"}{"}"},<br /><br />We&#39;ve successfully received your message and our team will get
            back to you as soon as possible.<br /><br />We typically respond within 24-48 hours during business days.<br /><br />If
            you have any urgent inquiries, please don&#39;t hesitate to contact us directly at </span
          >
          <a href="mailto:%7B%7BsupportEmail%7D%7D" target="_blank" rel="noopener noreferrer"
            ><span class="text-wrapper-2">{"{"}{"{"}supportEmail{"}"}{"}"}</span></a
          >
          <span class="text-wrapper-3">.<br /></span>
          <span class="span"><br />Best regards,The {"{"}{"{"}appName{"}"}{"}"} Team</span>
        </p>
      </div>
      <div class="frame-2">
        <img class="img" src="img/frame-2.svg" />
        <p class="currentyear-appname">
          © {"{"}{"{"}currentYear{"}"}{"}"} {"{"}{"{"}appName{"}"}{"}"}. All rights reserved.
        </p>
      </div>
    </div>
  </body>
</html>
