<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="element">
      <div class="frame"><img class="logo-new" src="img/logo-new-1.png" /></div>
      <div class="group">
        <div class="div">
          <img class="rectangle" src="img/rectangle-1.svg" />
          <div class="text-wrapper">New Contact Form Submission</div>
          <img class="open-peeps-bust" src="img/open-peeps-bust-13-1.png" />
        </div>
      </div>
      <div class="from-name-email-wrapper">
        <p class="p">
          <span class="span">From:</span>
          <span class="text-wrapper-2"> {"{"}{"{"}name{"}"}{"}"} ({"{"}{"{"}email{"}"}{"}"})<br /><br /></span>
          <span class="span">Subject:</span>
          <span class="text-wrapper-2"> {"{"}{"{"}subject{"}"}{"}"}<br /><br /></span>
          <span class="span">Received: </span>
          <span class="text-wrapper-2">{"{"}{"{"}receivedAt{"}"}{"}"}</span>
        </p>
      </div>
      <div class="message-message-wrapper">
        <p class="p">
          <span class="span">Message:<br /><br /></span> <span class="text-wrapper-2">{"{"}{"{"}message{"}"}{"}"}</span>
        </p>
      </div>
      <div class="frame-2">
        <img class="img" src="img/frame-2.svg" />
        <p class="currentyear-appname">
          © {"{"}{"{"}currentYear{"}"}{"}"} {"{"}{"{"}appName{"}"}{"}"}. All rights reserved.
        </p>
      </div>
    </div>
  </body>
</html>
