<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="element">
      <div class="frame"><img class="logo-new" src="img/logo-new-1.png" /></div>
      <div class="group">
        <div class="div">
          <img class="rectangle" src="img/rectangle-1.svg" />
          <div class="text-wrapper">Signature Request</div>
          <img class="open-peeps-bust" src="img/open-peeps-bust-14-1.png" />
        </div>
      </div>
      <div class="hello-clientname-you-wrapper">
        <p class="hello-clientname-you">
          <span class="span"
            >Hello {"{"}{"{"}clientName{"}"}{"}"},<br />You have been asked to review and sign the following
            contract:<br /><br />Contract Title: {"{"}{"{"}contractTitle{"}"}{"}"}<br /><br />Created
            By: {"{"}{"{"}createdByName{"}"}{"}"}<br /><br />Created On: {"{"}{"{"}createdDate{"}"}{"}"}<br /><br />{"{"}{"{"}#if
            expiryDate{"}"}{"}"}<br /><br />⏰
          </span>
          <span class="text-wrapper-2">Please sign before: {"{"}{"{"}expiryDate{"}"}{"}"}</span>
        </p>
      </div>
      <p class="p">To review and sign the contract, please click the button below:</p>
      <div class="review-sign-contract-wrapper"><div class="review-sign-contract">Review &amp; Sign Contract</div></div>
      <p class="important-this-link">
        Important: This link is unique to you and should not be shared with others.<br />If the button doesn&#39;t work,
        you can copy and paste this link into your browser:<br /><br />{"{"}{"{"}signatureUrl{"}"}{"}"}<br /><br />What
        to Expect:<br />Review the contract terms<br />Add any comments or questions<br />Add your signature
        electronically<br />Download a copy for your records<br /><br />If you have any questions, please contact
        {"{"}{"{"}createdByName{"}"}{"}"} directly.<br />Best regards,<br /><br />The {"{"}{"{"}appName{"}"}{"}"} Team
      </p>
      <div class="frame-2">
        <img class="img" src="img/frame-2.svg" />
        <p class="currentyear-appname">
          © {"{"}{"{"}currentYear{"}"}{"}"} {"{"}{"{"}appName{"}"}{"}"}. All rights reserved.
        </p>
      </div>
    </div>
  </body>
</html>
